<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Home</h1>
</div>
<div>
  <h2>Name: {{data.first_name}} {{data.last_name}}</h2>
  <h2>Class: {{data.batch}}-{{data.section}}</h2>
  <h2>Adviser: {{data.adviser_fname}} {{data.adviser_lname}}</h2>
</div>