<style type="text/css">
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300");

body {
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
</style>


<h1>Groups</h1>
<div style="padding-left: 50px; padding-right:76px;">
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Group</th>
          <th>Batch</th>
          <th>Section</th>
          <th>Adviser</th>
          <th>View Details</th>
        </tr>
      </thead>
    </table>
  </div> 
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {{#each groups}}
        <tr>
          <td>{{this.id}}</td>
          <th>{{this.groupname}}</th>
          <td>{{this.batch}}</td>
          <td>{{this.section}}</td>
          <td>{{this.adviser_first_name}} {{this.adviser_last_name}}</td>
          <td><a href="/faculty/group/{{this.id}}">See Details</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <br>
 <center>
        <a class="btn btn-dark col-md-5 back" href="/faculty/group/add_group" style="color: white; border-radius: 30px !important; background: black !important; border: 1px solid black !important;">ADD GROUP</a>
           <a class="btn btn-dark col-md-5 back" href="/faculty" style="color: black; border-radius: 30px !important; background: none !important; border: 1px solid black !important;">BACK</a>

 </center></div>