<style type="text/css">
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300");

body {
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
</style>


<h1>Students</h1>
<div style="padding-left: 50px; padding-right:76px;">
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Student Number</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Phone</th>
        </tr>
      </thead>
    </table>
  </div> 
  <div class="tbl-content">
        {{#each user}}
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>{{this.student_number}}</td>
          <td>{{this.first_name}} {{this.last_name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.phone}}</td>
        </tr>
      </tbody>
    </table>
        {{/each}}
  </div>
  <br>
      <a class="btn btn-dark col-md-12 back" href="/admin/students/add_student" style="color: black; border-radius: 30px !important; background: none !important; border: 1px solid black !important;">ADD STUDENT</a>
</div>